button.slotBlock:focus {
  background:steelblue;
  color:white;
  border:1px solid steelblue;
  margin:3px;
}
.slotsAvailable {
  margin: 20px;
}
.slotBlock {
  margin: 3px;
  border: 1px solid steelblue;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.slotBlock:hover {
  color:darkorange;
}

input[type="radio"] {
  -webkit-appearance: none;
}
.radioBtn {
  margin: 3px;
  border: 1px solid steelblue;
  padding: 5px 15px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
    float: left;
}
.radioBtn:hover{
  color:darkorange;
}