.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
button.filterBtn {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 23px;
    cursor: pointer;
}
input.searchBox {
    border: none;
}

form {
    border: 1px solid gray;
    border-radius: 5px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.searchBox:focus{
    outline: none;
}
svg.searchIcon {
    background-color: blueviolet;
    color: white;
    padding: 11px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.bookBlock {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 7px 0px darkgrey;
    margin: 10px;
    padding: 10px;
}
img.itemImage {
    width: 33%;
    height: 250px;
}
.container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.details {
    width: 60%;
    text-transform: capitalize;
}
span.title {
    font-weight: bold;
}